* {
    color: #666159;
    font-family: "akkurat";
}

.header {
    background-color: #70C2B4;
    width: -webkit-fill-available;
    display: inline-block;
    padding: 3%;
    text-align: center;
}

.header .logo {
    text-align: left;
}

#logo-casaideas {
    width: 9rem;
    padding-bottom: 4vw;
    margin-left: -0.2rem;
}

.header .title {
    font-family: "fjalla_oneregular";
    color: white;
    font-size: 3vw;
}

.content h1 {
    color: white;
    font-size: 9vw;
    font-family: "fjalla_oneregular";
    text-align: left;
    margin: 0;
}

.content h1:nth-child(2) {
    text-shadow: -1px -1px 0px #70C2B4, 3px 3px 0px #70C2B4, 6px 6px 0px white;
}

.content h1 span {
    color: white;
    text-shadow: none;
}

#logo-casaideas {
    width: 20vw;
    padding-bottom: 2.5vw;
    margin-left: -0.2rem;
}

.st0, .st1, .st2 {
    fill: white;
}

#Capa_1 {
    width: 40%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

#Capa_1 .st0 {
    opacity: 0.5;
    fill: #70C2B4;
}

#Capa_1 .st1 {
    fill: none;
    stroke: #575756;
    stroke-width: 2.3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 5;
}

#Capa_1 .st2 {
    fill: none;
    stroke: #575756;
    stroke-width: 2.485;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#Capa_1 .st3 {
    fill: none;
    stroke: #575756;
    stroke-width: 2.485;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#Capa_1 .st4 {
    fill: #575756;
}

#Capa_1 .st5 {
    fill: none;
    stroke: #575756;
    stroke-width: 2.3;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#personita, #medalla, #casita {
    width: 35%;
    position: absolute;
    top: -4rem;
    right: 0rem;
}

#plantita, #carita {
    width: 35%;
    position: absolute;
    top: -4rem;
    left: 0rem;
}

.containtable.left {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    background-position: center;
}

.containtable.right {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    background-position: center;
}

.sectionText {
    justify-content: center;
    text-align: left;
    padding-top: 4vh;
}

.sectionText p, .sectionText span {
    font-family: "fjalla_oneregular";
    font-size: 3.2vw;
    width: 100%;
    margin: 0;
}

.sectionText span {
    font-family: "fjalla_oneregular";
    font-size: 3.5vw;
    display: block;
    margin: 0;
}

.sectionText.green span {
    text-decoration: none;
    background-image: linear-gradient(#70C2B4, #70C2B4);
    background-position: 0% 75%;
    background-repeat: no-repeat;
    background-size: 0% 1vw;
    transition: background-size .3s;
    padding-left: 1vw;
}

.sectionText.pink span {
    text-decoration: none;
    background-image: linear-gradient(#FACEBE, #FACEBE);
    background-position: 0% 75%;
    background-repeat: no-repeat;
    background-size: 0% 1vw;
    transition: background-size .3s;
    padding-left: 2vw;
}

.sectionText span:hover, .sectionText span:focus {
    background-size: 93% 1vw;
}

.parrafo {
    padding-top: 2vh;
}

.parrafo p {
    font-family: "Akkurat";
    font-size: 2vw;
    text-align: justify;
}

.parrafo.pink {
    margin-top: 10vh;
}

.fabricacion .parrafo p, .paragraph, .sustentabilidad .parrafo p {
    padding: 4vw;
    margin: 2vw;
}

.parrafo strong {
    font-family: "Akkurat-Bold";
}

.parrafo ::after {
    content: "";
    background-color: transparent;
    position: absolute;
    z-index: -1;
    padding: 4vw;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.parrafo ::before {
    content: "";
    background-color: transparent;
    position: absolute;
    z-index: -1;
    padding: 4vw;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.parrafo.green ::after {
    top: 4vw;
    right: 3vw;
    border-right: 1vw solid #70C2B4;
    border-top: 1vw solid #70C2B4;
}

.parrafo.green ::before {
    bottom: 3vw;
    left: 3vw;
    border-left: 1vw solid #70C2B4;
    border-bottom: 1vw solid #70C2B4;
}

.parrafo.pink ::after {
    top: 4vw;
    left: 3vw;
    border-left: 1vw solid #FACEBE;
    border-top: 1vw solid #FACEBE;
}

.parrafo.pink ::before {
    bottom: 5vw;
    right: 3vw;
    border-right: 1vw solid #FACEBE;
    border-bottom: 1vw solid #FACEBE;
}

p.subtitle {
    font-family: "fjalla_oneregular";
    font-size: 3.2vw;
    width: 100%;
    margin: 0;
    padding-bottom: 5vh;
}

.why {
    padding-top: 5vh;
}

.btn-show-more {
    cursor: pointer;
    padding: 1vw;
    background-color: #FACEBE;
    font-family: "fjalla_oneregular";
    font-size: 1.5vw;
    float: right;
    margin-right: 3vw;
    height: fit-content;
}

.sustentabilidad {
    margin-top: 5vh;
}

.innovar .parrafo {
    margin-top: -4vh;
}

.certificación .parrafo {
    margin-top: 0vh;
}

.thevideo {
    width: 36vw;
}

/* Hide Play button + controls on iOS */

video::-webkit-media-controls {
    display: none !important;
}

p.karubag::first-letter, p.kiklos::first-letter, p.recycla::first-letter {
    font-size: 3em;
    font-family: "fjalla_oneregular";
    color: #FACEBE;
    margin: 0.3vh;
    padding-right: 2vw;
    float: left;
}
.typing > *{
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnim 3s steps(50);
  }
  @keyframes typingAnim {
    from {width:0}
    to {width:100%}
  }
@media (max-width: 500px) and (min-width: 320px) {
    #logo-casaideas {
        width: 36vw;
        padding-bottom: 3vw;
        margin-left: -0.2rem;
    }
    .header {
        width: -webkit-fill-available;
        display: inline-block;
        padding: 1rem 0.5rem 1rem 1rem;
    }
    .header .title {
        font-family: "fjalla_oneregular";
        color: white;
        font-size: 6vw;
    }
    .content h1:nth-child(2) {
        text-shadow: -1px -1px 0px #70C2B4, 2.5px 2.5px 0px #70C2B4, 4px 4px 0px white;
    }
    .content h1 {
        font-size: 15vw;
    }
    #Capa_1, #medalla, #carita {
        top: 0rem;
    }
    #personita, #plantita, #casita {
        top: 0rem;
    }
    .sectionText span {
        background-size: 93% 1vw;
        transition: background-size .3s;
    }
    .parrafo p {
        font-size: 2.5vw;
    }
    .parrafo ::after {
        padding: 5vw;
    }
    .parrafo ::before {
        padding: 5vw;
    }
    .parrafo.green ::after {
        top: 6vw;
        right: 7vw;
    }
    .parrafo.green ::before {
        bottom: 4vw;
        left: 7vw;
    }
    .sectionText.green span {
        background-image: linear-gradient(#a7d9d1, #a7d9d1);
        background-size: 0% 1vw;
        animation: wave 1s;
        background-position: 0% 75%;
        background-repeat: no-repeat;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
    }
    .sectionText.pink span {
        background-image: linear-gradient(#f9c0ac, #f9c0ac);
        background-size: 0% 1vw;
        animation: wave 1s;
        background-position: 0% 75%;
        background-repeat: no-repeat;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
    }
    .parrafo.pink {
        margin-top: 3vh;
    }
    p.subtitle {
        padding-bottom: 1vh;
    }
    .sustentabilidad {
        margin-top: 0vh;
    }
    .parrafo.pink ::after {
        top: 6vw;
        left: 7vw;
    }
    .parrafo.pink ::before {
        bottom: 11vw;
        right: 7vw;
    }
    .innovar .parrafo {
        margin-top: -1vh;
    }
    .certificación .parrafo {
        margin-top: 0vh;
    }
    p.karubag::first-letter, p.kiklos::first-letter, p.recycla::first-letter {
        margin: 0.3vh;
    }
    .btn-show-more {
        padding: 1.3vw;
        font-size: 3vw;
    }
    .why {
        padding-top: 0vh;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 90vw;
        justify-content: center;
    }
}

@media (max-width: 5120px) and (min-width: 1500px) {}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        background-size: 0% 1vw;
    }
    20% {
        background-size: 25% 1vw;
    }
    75% {
        background-size: 75% 1vw;
    }
    100% {
        background-size: 90% 1vw;
    }
}